<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/inicio-estudiante" color="primary">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>cursos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-header collapse="condense">

    <ion-toolbar>

      <ion-title size="large">cursos</ion-title>

    </ion-toolbar>

  </ion-header>

  <ion-grid >
    <ion-row>
      <ion-col size="9">
        <ion-card>
          <ion-card-header>
            <ion-card-title>curso programacion</ion-card-title>
          </ion-card-header>
          <ion-card>
            <img src="assets/descarga.jfif" alt="Qr" width="200" height="150">
          </ion-card>
          <ion-card-content>
            En este curso aprenderas lo basico de programacion y exel.
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>


  <ion-grid >
    <ion-row>
      <ion-col size="9">
        <ion-card>
          <ion-card-header>
            <ion-card-title>CALCULO I</ion-card-title>
          </ion-card-header>
          <ion-card>
            <img src="assets/calculo.png" alt="Qr" width="200" height="150">
          </ion-card>
          <ion-card-content>
            En este curso aprenderas Calculo I.
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>



  <ion-grid >
    <ion-row>
      <ion-col size="9">
        <ion-card>
          <ion-card-header>
            <ion-card-title>lenguaje y comunicacion</ion-card-title>
          </ion-card-header>
          <ion-card>
            <img src="assets/lenguaje.jfif" alt="Qr" width="200" height="150">
          </ion-card>
          <ion-card-content>
            Este curso está diseñado para potenciar tus competencias en el uso del lenguaje como herramienta fundamental para la comunicación eficaz en diferentes contextos.
            A lo largo del curso, explorarás las bases de la comunicación verbal y escrita.
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>




  <ion-grid >
    <ion-row>
      <ion-col size="9">
        <ion-card>
          <ion-card-header>
            <ion-card-title>curso base de datos y mineria de datos</ion-card-title>
          </ion-card-header>
          <ion-card>
            <img src="assets/bd.jfif" alt="Qr" width="200" height="150">
          </ion-card>
          <ion-card-content>
            En este curso aprenderás los fundamentos de las bases de datos, su diseño, gestión y optimización, así como los principios de la minería de datos. 
            Descubrirás cómo extraer patrones y tendencias útiles de grandes volúmenes de información, aplicando técnicas avanzadas de análisis de datos.
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
