<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      INSTITUTO KING
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"></ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <img src="assets/instituto.jfif" alt="king">
    <p>Bienvenido a INSTITUTO KING</p>
    <div class="boton-container">

    <ion-button [routerLink]="['/login']" expand="block" shape="round" color="primary">
      Login
    </ion-button>

    <ion-button [routerLink]="['/register']" expand="block" shape="round" color="primary">
      Registro
    </ion-button>

    
    </div>
  </div>
</ion-content>

<footer>

  <div class="redes-sociales">

    <a href="https://www.facebook.com" target="_blank">
    <ion-icon slot="start" name="logo-facebook" size="large"></ion-icon>
    </a>

    <a href="https://www.instagram.com" target="_blank">
      <ion-icon slot="start" name="logo-instagram" size="large"></ion-icon>

    </a>

    


  </div>
</footer>
