ion-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
ion-card{
    max-width: 500px;
    margin: 20px auto;
}
ion-item{
    max-width: 500px;
    margin: 10px auto;
}
ion-textarea{
    max-width: 500px;
    margin: 10px;
}