<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/inicio-estudiante">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>justificacion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">justificacion</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Descripcion de la justificacion</ion-label>
        <ion-textarea></ion-textarea>
      </ion-item>
      <ion-item>
        <ion-label>Adjuntar archivo</ion-label>
        <ion-input type="file"></ion-input>
      </ion-item>
      
    </ion-card-content>
  </ion-card>
  </ion-content>

