<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/home">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Iniciar sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="container" style="width: 100%; text-align: center;">
    <img src="assets/instituto.jfif" alt="king" style="width: 200px; height: 200px; object-fit: cover;">
  </div>
  <br>
  <ion-content class="form-container">
    <form (ngSubmit)="onSubmit()">
      <ion-list>
        <ion-item>
          <ion-label position="floating">Usuario:</ion-label>
          <ion-input type="text" [(ngModel)]="username"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Contraseña:</ion-label>
          <ion-input type="password" [(ngModel)]="password"></ion-input>
        </ion-item>
      </ion-list>
      <ion-button type="submit" expand="block">Iniciar sesión</ion-button>
    </form>
  </ion-content>
  
</ion-content>
